.navBar {
    width: 100%;
    background-color: rgb(139, 168, 243);
    padding: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.icon {
    text-align: center;

}

.clockicon {
    font-size: xx-large;
    text-align: center;
    color: rgb(0, 0, 110);
}

.stopwatchicon {
    font-size: xx-large;
    margin-left: 1rem;
    color: rgb(0, 0, 110);

}